In [3]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [4]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,San Quintin,MX,2022-07-14 15:56:32,30.4833,-115.9500,69.37,74,79,7.72
1,1,Naryan-Mar,RU,2022-07-14 15:57:53,67.6713,53.0870,79.34,57,8,8.77
2,2,Rikitea,PF,2022-07-14 15:57:54,-23.1203,-134.9692,65.77,88,100,6.62
3,3,Evensk,RU,2022-07-14 15:57:54,61.9500,159.2333,62.28,71,19,11.86
4,4,Butaritari,KI,2022-07-14 15:54:25,3.0707,172.7902,81.36,81,69,17.40

In [5]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [6]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [10]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [14]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [16]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [21]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Naryan-Mar,RU,2022-07-14 15:57:53,67.6713,53.0870,79.34,57,8,8.77
4,4,Butaritari,KI,2022-07-14 15:54:25,3.0707,172.7902,81.36,81,69,17.40
5,5,Cayenne,GF,2022-07-14 15:54:20,4.9333,-52.3333,86.04,1,75,6.91
6,6,Dingle,PH,2022-07-14 15:57:55,10.9995,122.6711,76.14,92,44,1.68
9,9,Vaini,TO,2022-07-14 15:57:56,-21.2000,-175.2000,75.36,100,2,9.22
10,10,Pemangkat,ID,2022-07-14 15:57:57,1.1667,108.9667,79.57,76,88,3.36
11,11,Pamanukan,ID,2022-07-14 15:57:57,-6.2842,107.8106,77.00,90,83,7.87
14,14,Kapaa,US,2022-07-14 15:57:58,22.0752,-159.3190,77.32,88,40,16.11
20,20,Bathsheba,BB,2022-07-14 15:58:00,13.2167,-59.5167,87.04,81,75,16.11
25,25,Hithadhoo,MV,2022-07-14 15:56:48,-0.6000,73.0833,83.62,74,100,15.19

In [22]:
preferred_cities_df.count()

City_ID       195
City          195
Country       195
Date          195
Lat           195
Lng           195
Max Temp      195
Humidity      195
Cloudiness    195
Wind Speed    195
dtype: int64

In [23]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
1   Naryan-Mar      RU     79.34  67.6713   53.0870
4   Butaritari      KI     81.36   3.0707  172.7902
5      Cayenne      GF     86.04   4.9333  -52.3333
6       Dingle      PH     76.14  10.9995  122.6711
9        Vaini      TO     75.36 -21.2000 -175.2000
10   Pemangkat      ID     79.57   1.1667  108.9667
11   Pamanukan      ID     77.00  -6.2842  107.8106
14       Kapaa      US     77.32  22.0752 -159.3190
20   Bathsheba      BB     87.04  13.2167  -59.5167
25   Hithadhoo      MV     83.62  -0.6000   73.0833

In [24]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [40]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [41]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Naryan-Mar,RU,79.34,67.6713,53.0870,Hostel Agat
4,Butaritari,KI,81.36,3.0707,172.7902,Isles Sunset Lodge
5,Cayenne,GF,86.04,4.9333,-52.3333,Hôtel Le Dronmi
6,Dingle,PH,76.14,10.9995,122.6711,SEGAYA PROPERTY
9,Vaini,TO,75.36,-21.2000,-175.2000,Keleti Beach Resort
...,...,...,...,...,...,...
527,Dharmanagar,IN,79.66,24.3667,92.1667,Juri Lodge
528,Bashtanka,UA,82.27,47.4072,32.4387,Свято Успенський храм ПЦУ
529,Kandri,IN,78.37,21.4167,79.2667,OYO 69410 Sip & Bite Restaurant N Lodging
530,Zhuhai,CN,87.85,22.2769,113.5678,珠海粤财假日酒店
531,Cubuk,TR,77.77,40.2386,33.0322,Çubuk Öğretmenevi

In [49]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
info_box_content=hotel_info
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [50]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [51]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))